@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-slate-400 hover:bg-slate-700 inline-block my-2 px-4 py-2 uppercase rounded-sm cursor-pointer font-bold text-white;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: x-large;
        font-weight: bolder;
    }
}
@layer base {

}
@layer utilities {
    .my-10 {
        margin-top: -0.5rem;
        margin-bottom: 5rem;
    }
}